body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0;

}

h1{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}


/*
.animation-box-left{
  background-image: linear-gradient(45deg, #3e54a3, #332c89);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height:100vh;
}*/

@media (max-width: 375px) {
  .animation-box{
    background-image: url("../images/bg-intro.svg");
    background-repeat: no-repeat;
    background-size: contain;
    /*width: 100vw;*/
    height: 70vh;
  }
}
@media (min-width: 376px) {
  .animation-box{
    background-image: linear-gradient(45deg, #BBB8FA, #070439);
    width: 46%; /* 46% of the screen width */
    height: auto; /*purple background box takes height of image*/
    display: inline-block;
  }

  .illustration-main{
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    width: 60%;
    height: auto;
    padding-top: 30.5%;
    padding-bottom: 30.5%;
  }

  .information-box{
    width: 54%;
    height: auto;
    display: inline-block;
    position: absolute;
    top: 0;
  }

  .text-container{

    width: 70%;
    position: relative;
    margin: 10% auto;
  }

  .heading{
    line-height: 1.2em;
    margin-top: 23%;
    margin-bottom: 7%;
  }

  .description{
    line-height: 1.5em;
    color: #808080;
    font-size: 15px;
    margin-bottom: 10%;
  }

  .email-box{
    border-radius: 10px;
    max-width: 65%;
    width: 350px;
    height: 50px;
    line-height: 2em; /*(2 * default line height)*/
    border-color: black;
    border-style: solid;
    border-width: 1px;
  }

  .sign-up{
    margin-bottom: 23%;
  }

  .sign-up-btn{
    border-radius: 10px;
    max-width: 30%;
    width: 100px;
    height: 50px;
    background-color: #05D69B;
    border-color: #05D69B;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    position: absolute;
    right: 0;
  }

  .social-media-container{
    display: inline-block;
    position: absolute;
    right: 0;
    font-size: 20px;
  }

  .social-media-container > i{
    margin-left: 30px;

  }

  .privacy-policy{
    text-decoration: underline;
    position: absolute;
    right: 0;
    font-size: 13px;
  }

}
